*{
	margin: 0;
	padding: 0;
	font-family: Arial sans-serif;
	box-sizing: border-box;
}

.lock{
	width: 1682px;
	max-width: 100%;
	display: flex;
	background-color: #2A3F55;
	margin: 0 auto;
	justify-content: space-between;
	min-height: 432px;
}

.lock-left{
    padding: 40px 40px 40px 80px;
    flex: 0 1 700px;
}

.lock-left-keyboard{
	border: 3px solid #000000;
	background-color: #666666;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.lock-left-keyboard-button{
	flex: 0 0 33.333333%;
	background-color: #fff;
	height: 75px;
	text-align: center;
	line-height: 75px;
	vertical-align: middle;
	border: 3px solid #666;
	font-size: 24px;
	cursor: pointer;
}

.lock-right{
    padding: 40px 40px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 840px;
}

.lock-right-display{
	border: 10px solid #080202;
	background-color: #9EA18B;
	width: 100%;
	border-radius: 25px;
	text-align: center;
	height: 190px;
}

.lock-right-display-text{
	font-size: 100px;
	line-height: 170px;
}

.lock-right-indicator{
	margin-top: 40px;
	width: 70px;
	height: 70px;
	border: 5px solid #000000;
	border-radius: 50%;
}

.lock-right-indicator-unlock{
	background-color: #008100;
}

.lock-right-indicator-lock{
	background-color: #a00;
}

@media (max-width: 1000px){
	.lock{
		flex-direction: column;
	}

	.lock-left,
	.lock-right{
		padding: 40px;
		flex: 1;
	}
}